.git
.gitignore
.gitea
.github

__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv
env
ENV

.idea
.vscode
*.swp
*.swo
.DS_Store

downloads
*.mp3
*.m4a
*.opus
*.ogg
*.wav
*.flac

README.md
docker-compose.yml
.dockerignore
Dockerfile

*.log
logs
.pytest_cache
.coverage
htmlcov
